:root{
    --fontLumanosimo: 'Lumanosimo', cursive;
    --fontLilita: 'Lilita One', cursive;
    --fontRoboto: 'Roboto Condensed', sans-serif;
    --fontVT323: 'VT323', monospace;
    --fucsia:#FF3366;
    --darkPink:#CC3366	;
    --paleBlue:#99FFFF;
    --almostWhite:#FBFCFC ;
    --purple:#4A235A;
    --prettypaleBlue:#EAF2F8;
    --gray:#515151;
}
body > * , body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--almostWhite);
    position: relative;
    /* overflow: hidden; */
    overflow-x: hidden;
    padding-bottom: 2rem;
}
#logo{
    width: 15vmax;
    height: fit-content;
    /* animation: rebote 0.5s 3; */
}
header{
       overflow: hidden; 
}
.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--prettypaleBlue);
    width: 100vw;
    height: 10vmax;

}
.rightHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.navBarLinks{
    display: none;
}
.navBarLinks a{
    display: none;
}

.leftHeader .boton{
    display: none;
}

/* tres lineas */
.options{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:0.4rem;
    margin-right: 5vmax;
    background-color: var(--purple);
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 3rem;
    transition: all 0.5s ease-in-out;
}
.options .line{
    width: 3rem;
    height: 0.5rem;
    background-color: var(--prettypaleBlue);
}

main .content{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    grid-auto-rows: 35rem;
    width: 85vw;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr)) ;
    padding: 2rem;
}
main .content .card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    height: 100%;
    background: var(--prettypaleBlue);
    box-shadow: 1px 0px 5px #000000;
    transition: all 0.3s ease-in-out;
}
main .content .card:hover{
    scale:1.1;
}
main .content .card .rango{
    font-family: var(--fontLumanosimo);
    width: 23rem;
    height: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--purple);
}
main .content a{
    width: 80%;
    height: fit-content;
    text-decoration: none;
}
main .content .card img{
    width: 100%;
} 
main .content .card H3{
    font-size: clamp(30px, 3vw, 35px);
    font-family:var(--fontLilita);
    color: var(--purple);
    text-shadow: 1px 1px 3px var(--fucsia);
} 
main .content .card .info{
    display:flex;
    align-items: center;
    gap:0.5rem;
} 
main .content .card .info p{
    font-size: clamp(15px, 3vw, 20px);
    color: var(--gray);
    font-family: var(--fontLumanosimo);
} 

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 10px;
    background-color: var(--paleBlue);
    border-radius: 4px;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background-color: var(--darkPink);
    border-left: 8px solid var(--paleBlue);
    border-right: 8px solid var(--paleBlue);
    border-bottom: 8px solid transparent;
  }
  

main .direcciones{
    margin-left: 3rem;
    font-family: var(--fontRoboto);
    font-size: clamp(15px, 3vw, 20px);
    color: var(--purple);
}

main .direcciones ul a li{
    list-style: lower-alpha;
}

main .direcciones ul a{
text-decoration: none;
color: var(--gray);
}

footer{
    font-family: var(--fontVT323);
    margin-top: 5rem;
    background-color: #006699;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    position: absolute;
    top:100%;
    width: 100vw;
    padding: 1rem;
}
footer p a{
    text-decoration: none;
    color: var(--almostWhite);
}
footer p{
    margin: 0;
    color: var(--almostWhite);
}
@media (width>980px) {
    #logo{
        width: 5vmax;
        margin-left: 2vmax;
    }
    .navBar{
        height: 3.5vmax;
    }
    .rightHeader{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    .navBarLinks{
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        list-style-type: none;
        gap:4rem;
        font-size: clamp(0.5vmax, 3vw, 1.5vmax);
        margin-left: 3.5vmax;
    }
    .navBarLinks a{
        text-decoration: none;
        font-family: var(--fontLumanosimo);
        color: var(--purple);
        text-shadow: 1px 0px 2px #ffffff;
        display: block;
        transition: all 0.3s ease-in-out ;
    }
    .leftHeader .navBoton a{
        text-decoration: none;
        color: var(--almostWhite);
    }
    .leftHeader .boton{
        display: block;
        background-color: var(--darkPink);
        border: 2px solid var(--purple);
        border-radius: 1rem;
        font-family: var(--fontLumanosimo);
        color: var(--paleRed);
        height: 2.5vmax;
        width: 10vmax;
        font-size: 1vmax;
        margin-right: 4vmax;
        cursor: pointer;
        transition:all 0.5s ease-in-out ;
    }
    
    /* tres lineas */
    .options{
        display: none;
    }
    .options .line{
        display: none;
    }
    .leftHeader .boton:hover{
        filter: brightness(1.2);
    }
    .navBarLinks a:hover{
        color: var(--fucsia);
    }
    main .content{
        display: grid;
        justify-content: center;
        align-items: center;
        /* overflow: hidden; */
        gap: 2.5rem;
        grid-auto-rows: 32rem;
        width: calc(85vw - 35rem);
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr)) ;
        margin-left: 35rem;
    }
    main .content .card H3{
        text-shadow: 1px 1px 3px var(--paleBlue);
    } 
    main .direcciones{

        position: absolute;
        left:10%;
        top:30%;
    }
 }

 .options:hover{
    background-color: var(--darkPink);
}
main .direcciones ul a:hover{
    color: var(--fucsia);
    }