:root{
    --fontLumanosimo: 'Lumanosimo', cursive;
    --fontLilita: 'Lilita One', cursive;
    --fontRoboto: 'Roboto Condensed', sans-serif;
    --fontVT323: 'VT323', monospace;

    --paleYellow:#FFFFCC;
    --fucsia:#FF3366;
    --darkPink:#CC3366	;
    --paleBlue:#99FFFF;
    --beish:#F9EBEA;
    --lightGray:#D5D8DC;
    --almostWhite:#FBFCFC ;
    --purple:#4A235A;
    --prettypaleBlue:#EAF2F8;
    --gray:#515151;
}
body > * , body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--almostWhite);
    /* overflow: hidden; */
}
#logo{
    width: 20vmax;
    height: fit-content;
    /* animation: rebote 0.5s 3; */
}
header{
       overflow: hidden; 
}
.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-image: linear-gradient(#F9EBEA,#D5D8DC);
    width: 100vw;
    height: 15vmax;

}
.rightHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.navBarLinks{
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    list-style-type: none;
    gap:1rem;
    font-size: clamp(16px, 3vw, 24px); */
    /* font-size: 0.6rem; */
    display: none;
}
.navBarLinks a{
    /* text-decoration: none;
    font-family: var(--fontLumanosimo);
    color: var(--blue);
    text-shadow: 2px 2px 5px #E74C3C; */
    display: none;

}

.leftHeader .boton{
    /* background-color: var(--midlered);
    border: 3px solid #E74C3C;
    border-radius: 2rem;
    font-family: var(--fontLumanosimo);
    color: var(--paleRed);
    height: 1.5rem;
    width: 12vmax;
    font-size: 0.5rem; */
    display: none;

}

/* tres lineas */
.options{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:0.4rem;
    margin-right: 5vmax;
    background-color: var(--purple);
    padding: 0.6rem;
    border-radius: 1.2rem;
    width: 5rem;
    transition: all 0.5s ease-in-out;
}
.options .line{
    width: 4rem;
    height: 0.8rem;
    background-image: linear-gradient(#F9EBEA,#D5D8DC);
}
.video{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.video h1{
    font-family: var(--fontLumanosimo);
    color: var(--purple);
    font-size: clamp(28px, 3vw, 44px); 
}
.video iframe{
    width:80vw; 
    height:15rem;
}
.info{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin: 8vmax;
    gap: 1rem;
}
.info h1{
    font-family: var(--fontLumanosimo);
    color: var(--purple);
    font-size: clamp(28px, 3vw, 44px); 
}
.info p{
    font-family: var(--fontRoboto);
    color: var(--gray);
    font-size: clamp(10px, 3vw, 16px); 
}
.info .items{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    gap:2.5rem;
}
.info .items .group{
    color: #CC3366;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--lightGray);
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.5s ease;
}
.info .items .group p{
    /* width: 2.5rem; */
    font-size: clamp(6px, 3vw, 12px);
}
.info .items .group a{
    color: #CC3366;
    text-decoration: none;
    transition: all 0.5s ease;
}
.info .items :nth-child(3):hover , .info .items .group a:hover{
    background-color: #4A235A;
    color: var(--almostWhite);
    text-decoration: none;

}
.direcciones{
    margin-left: 4rem;
}
.direcciones ul{
    
    list-style: none;
}
.direcciones ul a{
    text-decoration: none;
    color: #515151;
}

footer{
    font-family: var(--fontVT323);
    margin-top: 5rem;
    background-color: #006699;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}
footer p a{
    text-decoration: none;
    color: var(--almostWhite);
}
footer p{
    margin: 0;
    color: var(--almostWhite);
}
@media (width>980px) {
    #logo{
        width: 6rem;
    }
    .navBar{
        height: 5rem;
    }
    /* tres lineas */
    .rightHeader{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    .navBarLinks{
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        list-style-type: none;
        gap:4rem;
        font-size: clamp(16px, 3vw, 24px);

    }
    .navBarLinks a{
        text-decoration: none;
        font-family: var(--fontLumanosimo);
        color: var(--purple);
        text-shadow: 1px 0px 2px #ffffff;
        display: block;
        transition: all 0.3s ease-in-out ;
    
    }
    .leftHeader .navBoton a{
        text-decoration: none;
        color: var(--almostWhite);
        
    }
    
    .leftHeader .boton{
        display: block;
        background-color: var(--darkPink);
        border: 2px solid var(--purple);
        border-radius: 1rem;
        font-family: var(--fontLumanosimo);
        color: var(--paleRed);
        height: 2.5rem;
        width: 10rem;
        font-size: 1rem;
        margin-right: 4rem;
        cursor: pointer;
        transition:all 0.5s ease-in-out ;
    }
    
    /* tres lineas */
    .options{
        display: none;
    }
    .options .line{
        display: none;
    }
    .leftHeader .boton:hover{
        filter: brightness(1.2);
    }
    .navBarLinks a:hover{
        color: var(--fucsia);
    }
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-direction: row;
    }

    .video{
        margin-left: 2rem;
    }
    .video iframe{
        width:48rem; 
        height:30rem;
    }
 }

 .options:hover{
    background-color: var(--darkPink);
}
main .direcciones ul a:hover{
    color: var(--fucsia);
    }